{% extends "base.html" %}

{% block main %}
<h1 class="page-header">User Profile Form</h1>
<p class="lead"> Profile details</p>

  <div class="Profile-form">
    <h2>Tell us more about </h2>
    <form action="{{ url_for('profile') }}" method="GET">
      <div class="form-group">
         <input type="text" name="firstname" placeholder="First Name"/> 
      </div>
      <div class="form-group">
         <input type="text" name="lastname" placeholder="Last Name"/> 
      </div>
        <div class="form-group">
         <input type="text" name="age" placeholder="Age"/> 
      </div>
        <div class="form-group">
         <textarea name="biography" placeholder="Biography" rows="10" cols="30"></textarea>
      </div>
    <div class="form-group">
            <select name="Gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">other</option> 
                        </select>
      </div>

      <button type="submit" name="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>

{% endblock %}
